<h1 class="text-center">Cadastro de usuarios</h1>
<form action="/register" method="post">
    <div class="form-group">
        <label for="nome">Seu nome:</label>
        <input type="text" name="nome" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="conteudo">Post: </label>
        <textarea name="conteudo" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-success">Enviar</button>
</form>
